##### Core scientific packages
jupyter==1.0.0
matplotlib==3.5.1
numpy==1.22.1
pandas==1.4.3
scipy==1.7.3
scikit-learn==1.0.2
jupyter-contrib-nbextensions==0.5.1
openpyxl==3.0.10
tqdm==4.64.0
seaborn==0.11.2
pydantic==1.9.1